# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs-info/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.egg-info/
.tox/
.installed.cfg
*.manifest

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
junit-xml.xml
azure-pipelines/

# Environments (e.g. virtualenv)
.venv/
venv/
ENV/
env.bak/
dev_env/

# Jupyter Notebook
.ipynb_checkpoints

# OS or Editor related files
.DS_Store
.vscode/
*.swp
*.swo
*.idea/
*.tmproj

# Compiled Model files
mloptimizer/models/*.pkl
mloptimizer/models/*.joblib

# Data files (if large or sensitive)
examples/data/*.csv

# Temporary files
*.tmp
*.log
